.container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.photoItem {
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    border: 3px solid transparent;
    border-radius: 8px;
}

.selected {
    border-color: #00f;
}

.photoImage {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}